<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div>
    <div style="margin: 0 0 0 0; padding: 56px 0 56px 0; width: 100%; min-width: 800px;">
        <div style="margin:0 auto; padding: 0 0 0 0; width: 800px;">
            <div style="margin: 0 0 0 0; padding: 0 0 0 0; height:35px;">
            </div>
            <div style="margin: 0 0 0 0; padding: 0 0 0 0;">
                <h2 style="margin: 24px 0 24px 0; font-size: 32px; font-weight: bold; color: #1A1A1A">
                    비밀번호 찾기</h2>
                <div style="margin: 12px 0 0 0; padding: 0 0 0 0;">
                    <p style="margin: 0 0 0 0; padding: 0 0 2px 0; font-size: 14px; font-weight: normal; color: #2e2e2e;">
                        안녕하세요. 코멘트 다이어리입니다.</p>
                    <p style="margin: 0 0 0 0; padding: 2px 0 2px 0; font-size: 14px; font-weight: normal; color: #2e2e2e;">
                        임시 비밀번호를 발급하였습니다.</p>
                </div>
            </div>

            <div style="margin: 40px 0 40px 0; padding: 0 0 0 0;">
                <h3 style="margin: 0 0 0 0; padding: 0 0 0 0; font-size: 14px; font-weight: bold;">임시 비밀번호</h3>
                <div style="margin: 12px 0 12px 0; padding: 0 0 0 0; width: 200px; height: 60px; border: 1px solid #cccccc; border-radius: 3px;">
                    <h3 style="text-align: center; margin: 18px 0 18px 0; font-size: 20px; font-weight: normal;"><p
                            th:text="${code}"></p></h3>
                </div>
                <ul style="margin: 0 0 0 0; padding: 0 0 0 0;">
                </ul>
            </div>
        </div>
    </div>
</div>

</body>
</html>